body {
  background-image: linear-gradient(to right, rgb(163, 248, 52), rgb(119, 0, 255));
  height: 1000px;
  width: 1000px;
}

h1 {
  position: absolute;
  top: 15px;
  border-bottom: solid #333 2px;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace
}

h2 {
  position: absolute;
  top: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}