body{
    background-image: linear-gradient(to right, rgb(151, 1, 1) , rgb(94, 255, 0));
    height: 1000px;
    width: 1000px;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

li {
float: left;
border-right:1px solid #bbb;
    }
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
    }

  li {
    float: left;
  }

  li a {
    display: block;
    padding: 8px;
  }

  li a:hover:not(.active) {
background-color: #111;
}

  .active {
background-color: #04AA6D;
    }

button{
    position: absolute;
    left: 1855px;
    top: 2000px;
}

h1{
    position:absolute;
    top: 25px;
    border-bottom: solid #333 2px;
    font-family:'Courier New', Courier, monospace
}

h2{
    position: absolute;
    top: 75px;
    border: #333 20px;
}

